* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    margin: 56px 0 95px 71px;
}

.link-header {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    color: #17233D;
    margin-right: 24px;
    cursor: pointer;

}
.button-header {
    width: 124px;
    height: 51px;
    border: 1px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(0deg, #4CB538, #4CB538),linear-gradient(0deg, #6FBF44, #6FBF44);
    border-radius: 8px; 
    cursor: pointer;

}

img {
    margin: 163px 10px 15px 123px;
    display: inline-block;

}

div {
    margin-left: 81px;
    display: inline-block;
}   

h2 {
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    width: 582px;
    color: #161A49;

}

p {
    width: 493px;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;;
    margin-top: 47px;
    margin-bottom: 55px;

}

.button-main {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    background: transparent;
    border: none;
    cursor: pointer;
}


    
@media screen and (max-width: 900px){
    div{
        display: block;
        height: 50%;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-top: 50px;

    }
}

h2 {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    height: 60px;
    width: 278px;
    margin: 0 auto;
    
}

p {
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    width: 304px;
    margin: 0 auto;
    margin: 30px 40px;
 
}

img {
    
    position: absolute;
    max-width: 80%;
    margin-top: 400px;
    margin-left: 36PX;

}

header {
    display: none;
}

section {
    margin-left: 310px;
    margin-top: 10px;

}

.button-header {
    width: 70px;
    height: 31px;
    border: 1px;
    font-size: 12px;
}

.button-main {
    margin: auto;
    display: block;
}

